html, body {
    margin:0;
    padding:0;
    width: initial;
    font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	background-color: rgb(246, 246, 246);
}

.navbar {
	margin: 0;
	background-color: white;
}

.navbar-nav {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-toggle {
	padding-top: 15px;
}

.icon-bar {
	background-color: black;
}

.grey-box {
	background-color: rgb(246, 246, 246);
}

.white-box {
	background-color: #FFF;
}

.black-box {
	background-color: black;
}

.gfont {
	color: #999;
}

.futura {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 30px;
	line-height: 15.4px;
}

.futuras {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 30px;
}

.logo {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 30px;
	letter-spacing: -1px;
	padding-top: 10px;
	padding-left: 10px;
	font-style: italic;
}

.left {
	padding:0;
}

.right {
  background-color:#000;
  color : #FFF;
}

.no-space {
    padding:0;
    margin: 0;
}

.img-circle {
	width: 250px;
  	height: 250px;
	border-radius: 215px;
	display: block;
	position: relative;
	z-index: 20;
	backface-visibility: hidden;
	align-content: center;
	margin-left: 10%;
	margin-top: 20px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
}

.section-content {
  padding-top: 13.5%;
}

.title {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
	padding-top: 15px;
	color: black;
	margin-left: -5px;
}

.navbar .navbar-nav > .active > a{
	text-decoration-line: underline;
	text-underline-offset: 6px;
	color: dimgrey !important;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > .active > a{
    color: black;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background-color: white;
    color: dimgrey;
}

.slider {
	margin: 0;
	padding: 0;
}

.forms {
	padding-left: 250px;
	padding-right: 250px;
}

.whatsapp {
	background-color: darkslategrey;
	color: white;
	padding: 15px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
.btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #darkslategrey;
}

.footer {
  bottom: 0;
  height: 250px;
  background: black;
  color: white;
}

.Copyright {
	color: dimgrey;
    font-size: 10px;
}

.links {
	color: white;
	padding: 15px;
}

.links:hover {
	color: dimgrey;
	text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.paragraph {
	padding-left: 400px;
	padding-right: 400px;
	font-size: 12px;
	letter-spacing: 0;
}

.paragraphs {
	padding-left: 550px;
	padding-right: 550px;
}

.panel {
  margin-top: 0px !important;
  border-radius: 0px !important;
  border: none;
  border-bottom-color: #D7D8DC;
  box-shadow: 0 0px 0px 0 transparent !important;
  -moz-box-shadow: 0 0px 0px 0 transparent !important;
  -webkit-box-shadow: 0 0px 0px 0 transparent !important;
  -o-box-shadow: 0 0px 0px 0 transparent !important;
}
.panel .panel-heading {
  border-radius: 0px !important;
  padding: 0px !important;
  border-bottom: 0px solid #DDDEE2;
}
.panel .panel-heading .panel-title a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 23px 15px;
  font-weight: 300;
  color: black;
  background-color: #ffffff;
  line-height: 29px;
  position: relative;
}
.panel .panel-heading .panel-title a:hover,
.panel .panel-heading .panel-title a:active {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  color: dimgrey;
}
.panel .panel-heading .panel-title a span {
  float: left;
  margin-top: 15px;
  margin-right: 30px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.panel .panel-heading .panel-title a .bar,
.panel .panel-heading .panel-title a .bar:after {
  border-width: 1px;
  border-style: solid;
  width: 8px;
  border-radius: 10px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.panel .panel-heading .panel-title a .bar:after {
  content: "";
  height: 0;
  position: absolute;
  top: 38px;
  left: 15px;
}
.panel .panel-heading .panel-title a.collapsed {
  border-bottom: 1px solid #eeeef3;
  position: relative;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.panel .panel-heading .panel-title a.collapsed .bar {
  border-color: #75767F;
}
.panel .panel-heading .panel-title a.collapsed .bar:after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  border-color: #75767F;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.panel-collapse {
  background-color: #ffffff;
}
.panel-collapse .panel-body {
  background-color: #ffffff;
  border: 0px solid !important;
  line-height: 26px;
  font-weight: 300;
  margin-left: 50px;
  padding-bottom: 20px;
  padding-top: 0px;
  color: #60626d;
  font-size: 12px;
}

.linkss {
	text-decoration-line: underline;
	text-underline-offset: 6px;
	color: black;
}

@media screen and (max-width: 1200px) {
	.right { 
		height: 33.3%;
		width: 100%;
		align-content: center;
		padding-top: 35px;
		padding-bottom: 25px;
	}
	.img-circle {
		width: 250px;
	  	height: 250px;
		border-radius: 215px;
		display: block;
		position: relative;
		z-index: 20;
		backface-visibility: hidden;
		align-content: center;
		margin-left: 16%;
		margin-top: 20px;
	}
	.slider {
		margin: 0;
		padding: 0;
	}
	.forms {
		padding-left: 50px;
		padding-right: 50px;
	}
	.links {
  		display: flex;
  		flex-direction: column;
  		overflow: hidden;
  		padding: 5px;
	}
	.footer {
	  padding-bottom: 80px;
	  height: 100%;
	  background: black;
	  color: white;
	}
	.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 100%;
	}
	.paragraph {
		padding-left: 10px;
		padding-right: 45px;
		font-size: 12px;
		letter-spacing: 0;
	}
	.paragraphs {
		padding-left: 40px;
		padding-right: 45px;
	}
	.paragraphss {
		padding-left: 35px;
		padding-right: 35px;
	}
	.panel-collapse .panel-body {
	  background-color: #ffffff;
	  border: 0px solid !important;
	  line-height: 26px;
	  font-weight: 300;
	  margin-left: 0px;
	  padding-bottom: 20px;
	  padding-top: 0px;
	  color: #60626d;
	  font-size: 12px;
	}

	.Copyright {
		color: dimgrey;
	    font-size: 10px;
	    padding-left: 60px;
	    padding-right: 60px;
	}
}
